[2022-01-09 21:54] mootari commented on #1072
I've been experiencing the same for a while now. For some reason Kap exports GIFs with ordered dithering.

[2022-01-09 22:23] mootari commented on #1072
The problem may be related to https://github.com/wulkano/Kap/pull/748

Here is one of the latest examples that was produced with Kap 3.4.2 on Big Sur (be sure to view it at full size):

![Kapture 2021-12-28 at 00 12 56](https://user-images.githubusercontent.com/322014/148703461-9089b669-b6c5-4ddb-85c1-f783fa2071f2.gif)

[2022-01-09 22:44] firasm commented on #1072
Yes I see it in the image you posted as well...

<img width="198" alt="Screen Shot 2022-01-09 at 2 43 57 PM" src="https://user-images.githubusercontent.com/2507459/148704188-3734fe84-ea4f-4915-b0ad-3a8a7ea2bf55.png">

[2022-01-09 23:45] mootari commented on #1072
Creating a repro was difficult, but I may have found the reason. The only difference between these two GIFs is that for the first ("offset-0", clear colors) the timeline starts exactly at 0:00, while for the latter ("offset-custom", ordered dither) the starting point has been moved slightly (by about 0.1 or 0.2 seconds). Again, be sure to view them in full size.

offset-0:
<img width=200 alt="offs

[2022-01-10 00:16] firasm commented on #1072
wow - seriously impressive troubleshooting! Nice work!

I was able to reproduce with the same settings, except just editing the start point.

## Example 1: Starting at exactly 0:00

![test1](https://user-images.githubusercontent.com/2507459/148706958-54115ed2-b52f-4270-a421-b7c94d93773a.gif)

## Example 2: Starting at 0:01

![test2](https://user-images.githubusercontent.com/2507459/148706960-b547f

[2022-01-10 00:33] mootari commented on #1072
Your second example doesn't seem to have ordered dither though. I'd recommend to test with a mostly static scene, since the overall mix of colors in the entire sequence will likely affect algorithm selection and is harder to control (and compare) with large moving areas.

Ideally you include a few seconds of stillness at the start and end of your recording, so that small offset changes have less e

[2022-01-10 07:12] joergRossdeutscher commented on #1063
Multiple issues have been filed about that problem here. Look a bit, in one of the thread someone has posted how                    to force brew to use a working version.

[2022-01-10 09:45] Jokero commented on #1019
This is what I get when trying to open Kap downloaded from site on Monterey 12.0.1 (21A559):
![image (17)](https://user-images.githubusercontent.com/434135/148741936-09c50549-23f1-4067-afa4-99d03635b713.png)

Version from brew works.

[2022-01-10 09:55] skllcrn commented on #1036
The notarisation bug should be fixed, can you post a screenshot of the error you are seeing @TrevorBurnham?

[2022-01-10 12:38] mootari commented on #1072
I just ran another test because I couldn't quite believe it myself.

Source is a static scene (~6sec) without any movement. Export was done at 100% size and 20 FPS:
1. uncropped: 20.2MB, noise changes visibly for every frame
2. cropped only at the end: 19.6MB, noise changes visibly for every frame
3. cropped only at the beginning: 940KB, ordered dither, very minor frame-to-frame changes in dither

[2022-01-10 12:46] mootari commented on #1072
Testing with an MP4/H264 export from Kap (98KB):
https://user-images.githubusercontent.com/322014/148767868-28a2d686-c2e8-4bb0-92ea-178cde165029.mp4

Results are the same:
1. uncropped: 8.3MB
2. cropped at end: 8.2MB
3. cropped at start: 432KB, ordered dither

<img width=200 src="https://user-images.githubusercontent.com/322014/148768052-16bef157-b328-43f0-86ce-3d415ee61606.gif">

Something to do

[2022-01-10 18:29] mootari commented on #1072
Actually, what we're seeing has nothing to do with gifsicle. It's ffmpeg's bayer filter.

[2022-01-10 19:01] mootari commented on #1072
I'm not familiar with Kap's internals and only vaguely familiar with ffmpeg, so the following may be a red herring.

There appears to have been a functional change during the TypeScript conversion. Before, the filter `[x][1:v]paletteuse` would always be specified:

https://github.com/wulkano/Kap/blob/a1aed0a14e5c0a1baac5443fece3313c8101c05f/main/convert.js#L269

Since the conversion the filter wil

[2022-01-10 22:38] gustavohenke commented on #1068
Hey all, one good use case for this is to get around issues like #921 -- downgrading from 3.5.1 to 3.4.2 helped me to record again

[2022-01-11 21:16] TrevorBurnham commented on #1036
@skllcrn

<img width="379" alt="Kap 3.5.1" src="https://user-images.githubusercontent.com/224895/149022583-57f4cd69-c1d0-4c83-b278-413b0938e412.png"> <img width="372" alt="Kap can't be opened because Apple cannot check it for malicious software" src="https://user-images.githubusercontent.com/224895/149022593-cb2adc72-6f31-4bd2-9ec1-22ebd2a33023.png">

[2022-01-12 02:25] timothyis commented on #1067
Hey all, the Kap website now downloads the Intel Mac binary by default, but also now supports downloading arm64 using https://getkap.co/api/download?system=arm64. There'll be a selector for this soon.

Resolved in https://github.com/wulkano/getkap.co/pull/45.

[2022-01-12 02:25] #1067 closed

[2022-01-12 11:30] #732 closed

[2022-01-12 20:32] ron23 commented on #921
Same issue here. on mac 11.6.2 (unknown Kap version, the about screen doesn't open up but I believe it should be the latest.)

[2022-01-13 08:04] levrik commented on #921
@ron23 Try to open the about screen while having settings open. Then it pops up like expected.

[2022-01-13 16:00] Dana-111 opened #1073 "Unhandled promise rejection on Macbook Air"
**macOS version:**    Big Sur (11)
**Kap version:**      3.4.1

#### Steps to reproduce

Do nothing, just have Kap on (not actively recording anything, the app is just on and available in the top menu)

#### Current behavior

An error appears at random times of day about some promise rejection thing

#### Expected behavior

I don't get a random error that pulls me away from whatever else I was wor

[2022-01-13 16:28] timothyis commented on #1073
Hi there,

I apologise for this and thank you for submitting this. However, I believe this is a duplicate of #952 so I will close this to keep track there.

[2022-01-13 16:28] #1073 closed

[2022-01-13 23:02] kj800x opened #1074 "Filenames are not customized when using Drag and Drop from the Export Complete window"
**macOS version:** macOS Big Sur Version 11.6 (20G165) on MacBook Pro (15-inch, 2017)
**Kap version:** Version 3.5.1 (3.5.1.1783)

#### Steps to reproduce
* Use Kap to record your screen
* Export the resulting file to any format and **change the filename**
* From the "Export Completed" dialog, drag the file into another application (tested with Chrome, Slack, and Finder). The other application wil

[2022-01-14 02:21] Proful opened #1075 "Kap getting crashed on Mac os"
**macOS version:**
v12.1
**Kap version:**
3.5.1.1783
#### Steps to reproduce

#### Current behaviour
Kap getting crashed
Recording error
Error: Could not start recording within 5 seconds
    at Timeout._onTimeout (/Applications/Kap.app/Contents/Resources/app.asar/node_modules/aperture/index.js:132:19)
#### Expected behaviour

#### Workaround

[2022-01-14 02:23] Proful commented on #1075
duplicate

[2022-01-14 02:23] #1075 closed

[2022-01-14 22:03] frankievalentine commented on #935
Kap plugin to support network A/V sharing capabilities.

Similar to [obs-ndi](https://github.com/Palakis/obs-ndi).

[2022-01-17 05:52] adiun commented on #1063
Just want to mention/clarify a few things since I tried following this thread:

I tried the latest version of Kap (3.5.1) and it had this error.
* **Only version 3.4.2 will work**

After downloading and you keep seeing the `can't be opened` prompt even after [following the steps in this comment](https://github.com/wulkano/Kap/issues/1063#issuecomment-1007751259):
* Many posts out there will say to

[2022-01-18 06:21] sindresorhus commented on #1063
Can you try out the latest version? https://github.com/wulkano/Kap/releases/tag/v3.5.2

[2022-01-18 06:22] sindresorhus commented on #1036
Can you try out the latest version? https://github.com/wulkano/Kap/releases/tag/v3.5.2

[2022-01-18 06:32] chen-ta0 commented on #1063
It's still there. The same error prompt...

[2022-01-18 09:31] karuppiah7890 commented on #1059
I'm getting an error now too -

Recording error
Error: Could not start recording within 5 seconds
    at Timeout._onTimeout (/Applications/Kap.app/Contents/Resources/app.asar/node_modules/aperture/index.js:132:19)

[2022-01-18 11:40] fraktalize opened #1079 "I love your app but it keeps crashing when I try to record."
**macOS version:**    Monterey (12)
**Kap version:**      3.5.2

#### Steps to reproduce

Record screen

#### Current behavior

Recording error
Error: Could not start recording within 5 seconds
    at Timeout._onTimeout (/Applications/Kap.app/Contents/Resources/app.asar/node_modules/aperture/index.js:132:19)

#### Expected behavior

Record screen

#### Workaround

[2022-01-18 11:45] skllcrn commented on #1079
Closing in favour of #1063

[2022-01-18 11:45] #1079 closed

[2022-01-18 14:24] andregce opened #1080 "Error: net::ERR_NETWORK_CHANGED"
**macOS version:**    Big Sur (11.6.1)
**Kap version:**      3.4.2

Unhandled Promise Rejection
Error: net::ERR_NETWORK_CHANGED
    at SimpleURLLoaderWrapper.<anonymous> (electron/js2c/browser_init.js:101:6400)

#### Steps to reproduce
I woke up my computer and connected to a VPN. My guess is that Kap was trying to do something and got caught by the network change.

#### Current behavior
Kap throw

[2022-01-18 15:09] TrevorBurnham commented on #1036
@sindresorhus That release appears to be free of the issue! Thanks. 👍

[2022-01-18 15:32] kshirshov opened #1081 "Doesn't working record at MacOS 12.1 (21C52)"
**macOS version:** 12.1 (21C52)
**Kap version:** Version 3.5.1 (3.5.1.1783)

#### Steps to reproduce
1. Let's open application
2. Select area: manual or window
3. Press start record

#### Current behaviour
- Freeze UI
- Error after trying to record

#### Expected behaviour
Recording

#### Workaround

![image](https://user-images.githubusercontent.com/25321664/149966803-d3a9ab4d-3d76-4592-ba66-b35d

[2022-01-18 16:06] timothyis commented on #1081
Hi there, thanks for submitting an issue. This is a duplicate of #1059, and so I will close that in order to keep track in the original issue.

[2022-01-18 16:06] #1081 closed

[2022-01-18 16:09] timothyis commented on #1068
Hi all, in this case, I think we should forgo this feature in order to keep users up-to-date on maintained versions of Kap. The most recent version should have priority to work, and if an older version doesn't work, we cannot maintain that.

In this case, I will close the issue.

[2022-01-18 16:09] #1068 closed

[2022-01-18 17:44] joshjohanning commented on #1063
3.5.2 didn't work for me (Apple M1, macOS 12.1)

[2022-01-18 18:20] Siddharth11 commented on #1063
@sindresorhus It didn't work for me either. System specs 👇

<img width="541" alt="Screen Shot 2022-01-18 at 11 49 16 PM" src="https://user-images.githubusercontent.com/5427715/149995680-75b98030-240e-4bd8-b384-7219dac6b2d5.png">

[2022-01-19 09:15] Dana-111 commented on #952
Any plans to fix this?

[2022-01-19 11:38] gillisig commented on #1080
Downloads are broken as well. 500 Error.

[2022-01-19 14:47] gillisig commented on #1080
@timothyis yeah sorry that was a bit rushed from me. But it was on the website, getkao.co but now it seems to be working.

[2022-01-20 00:00] deiay opened #1083 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BG0](https://sentry.io/organizations/wulkano-l0/issues/2939306878/)

**macOS version:**    Big Sur (11)
**Kap version:**      3.5.1

[code]

[2022-01-20 00:23] timothyis commented on #1083
Hi @deiay, would you mind trying this on the latest version?

[2022-01-20 07:19] jonwonglam commented on #1063
3.5.2 is working for me on macOS 12.1, Apple M1. 16" M1X

[2022-01-20 07:48] alechko commented on #1063
3.5.2 is not working properly for me on macOS 12.0.1 macbook pro intel i7

it recorded once on the first launch after upgrading from 3.4.2 but then the same error appeared on second record attempt.

not sure if related, but the 3.5.* versions are super slow compared to 3.4.2, almost unresponsive. between triggering kap  either from taskbar or by keyboard shortcut there's a delay of few seconds fol

[2022-01-21 14:48] bedrosenator opened #1084 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BFT](https://sentry.io/organizations/wulkano-l0/issues/2938494594/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.1

[code]

[2022-01-21 19:06] serg commented on #921
Perhaps it could be helpful for somebody.
There was this issue with Kap 3.5.0 and above.
Environment for testing: Big Sur 11.6.2 (CPU Intel).

As a workaround, the success solution is migration on [v3.4.2](https://github.com/wulkano/Kap/releases/download/v3.4.2/Kap-3.4.2.dmg) version of Kap. But before install, we need to completely remove previous version of Kap and all files related to this app.

[2022-01-21 19:55] msgongora commented on #1059
Confirming this is happening in big sur also, 3.5.2
downgrading to 3.4.2
[code]

[2022-01-22 02:51] JL-Code opened #1085 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BHS](https://sentry.io/organizations/wulkano-l0/issues/2951401218/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.1

[code]

[2022-01-22 05:59] steakscience commented on #921
BTW, a restart fixes this

[2022-01-23 19:31] mbukh commented on #1063
Error: Could not start recording within 5 seconds
at Timeout._onTimeout (/Applications/Kap.app/Contents/Resources/app.asar/node_modules/aperture/index.js:132:19)

  Model Name:	MacBook Pro
  Model Identifier:	MacBookPro15,1
  Processor Name:	8-Core Intel Core i9
  Processor Speed:	2.3 GHz
MACOS 12.1

[2022-01-24 20:48] olivierbeaulieu commented on #1059
I can reproduce this error reliably - basically I start recording, and Kap crashes if I receive a slack notification showing up in the top right while I'm recording (Big Sur 11.6)

[2022-01-24 21:46] artificial-cassiano commented on #1071
I had a similar error

[code]

[2022-01-27 14:29] BuffMcBigHuge commented on #921
Not necessarily. I would have to reboot my intel-based Mac to get it working again. It works a single time before I experience the error and have to reboot again. Downgrading to v3.4.2 seems to have solved my issue for now.

[2022-01-27 20:26] JoshuaSoileau commented on #1060
+1 I get the same. Can't make any recordings without a full reboot of my computer. Killing Kap & restarting doesn't seem to fix it.

[2022-01-27 22:46] jadedrakerider commented on #1059
I'm also getting this. It seems to be happening when I have Vysor running. I was able to successfully record earlier today.

Recording error
Error: Could not start recording within 5 seconds
    at Timeout._onTimeout (/Applications/Kap.app/Contents/Resources/app.asar/node_modules/aperture/index.js:132:19)

[2022-01-28 03:01] steakscience commented on #921
@BuffMcBigHuge Yup it broke again right after I posted the comment :(

[2022-01-28 05:43] malk-code opened #1086 "mac can Flash back. version monerey 12.1"
**macOS version:**
**Kap version:**

#### Steps to reproduce

#### Current behaviour

#### Expected behaviour

#### Workaround

[2022-01-28 12:01] #1086 closed

[2022-01-28 19:41] Gbuomprisco commented on #1063
Hi guys, I'm getting the same error. I installed version 3.4.0, but then it automatically updated 😬 Anyone know how to disable that while the new version is broken?

[2022-01-29 18:42] ionajosephine commented on #1059
I tried downloading 3.4.2 but got the error: “Kap” can’t be opened because Apple cannot check it for malicious software.

[2022-01-29 22:33] eggsy opened #1087 "Plugin installation isn't working with Yarn 3"
**macOS version:** 12.1 (21C52)
**Kap version:** 3.5.2 (3.5.2.1799)

#### Steps to reproduce

- Have Yarn 3 installed on your system.
- Just go to Preferences of Kap and try to install a plugin.
- See the error popup.

#### Current behaviour

There's a popup pointing out that the command parameter is unknown so it fails to continue:

[code]

#### Expected behaviour

Download and install the module

[2022-01-30 13:22] fmaiabatista commented on #935
I would like to see a plugin that allows the user to predetermine the length of the recording. Let's say I want to record a video that I know is 7.50 min long - I would like to be able to set up the recording duration beforehand and go do something else while my screen gets recorded without worrying about having to come back and stop the app.

[2022-01-31 09:46] mortenjust opened #1088 "Recording UI appears after 3 seconds"
**macOS version:**    Monterey (12)
**Kap version:**      3.5.2

#### Steps to reproduce
1. Start Kap
2. Click Kap's icon in the top bar to start a recording

#### Current behavior
Kap's recording UI appears after 3 seconds, sometimes more.

#### Expected behavior
Kap's recording UI to appear in less than 300ms

#### Workaround

M1 Max 64gb, macOS 12.1

[2022-01-31 21:01] schmod commented on #1063
Downgrading to 3.4.2 fixed most of the issues I've been having (including the extremely sluggish performance of 3.5.2)

I had to manually approve the new (old) version in the MacOS "Security & Privacy" preferences.

I also needed to revoke and re-grant Screen Recording permissions (also in the Security preferences).  I'm guessing the version downgrade somehow confused MacOS.

[2022-01-31 22:31] ericclemmons commented on #1059
@ionajosephine per https://issuehunt.io/r/wulkano/kap/issues/1044, you can fix that error by running:

[code]

[2022-02-01 10:15] verpixelt commented on #1071
Exact same here unfortunately
[code]

[2022-02-01 10:32] verpixelt commented on #1063
Get the same `Could not start recording within 5 seconds` error. I've tried downgrading to the mentioned 3.4.2 but macOS won't let me open it (macOS Monterey 12.1). It won't show up in Security & Privacy either.
![image](https://user-images.githubusercontent.com/1640079/151952927-c58bea54-3a54-4f04-9e92-ab2c96265249.png)

[2022-02-01 12:59] avm99963 commented on #1088
Same in macOS 12.2, Intel Mac (late 2012).

I also get the following error when I try to record due to the same "lag" after pressing the record button:

[code]

[2022-02-01 15:41] steveharman commented on #1059
Ctrl-click / right-click on the Kap app.  This is a common Apple security issue, not a Kap bug.  You may need to re-establish screen recording & other permissions in System Preferences when asked.  I got into a loop of continuously being asked to grant a permission which already existed - the fix on my side was to remove the permission, quit Kap and re-launch it.

Again, seen that plenty of times

[2022-02-02 06:46] pvcresin commented on #921
The following steps solved it for me!
- AppCleaner -> Re-install Kap -> Reboot Mac(Intel)

[2022-02-02 07:01] steakscience commented on #921
From my experience and @BuffMcBigHuge 's, reboots only fixes it for 1 launch

[2022-02-02 18:39] bastienmenis commented on #1088
Same issue here, the UI lags and Kap crashes when attempting to record. Issue started after Monterey update. If I reboot the Mac and attempt to do a recording it will work once, then crash at subsequent recording attempts (until I reboot once more).

MacOS 12.1, Kap version 3.5.2, Macbook Pro 13" 2018

[2022-02-02 18:54] imjoshellis commented on #1088
Seeing same issue, including the "could not record" error, but I'm still on Big Sur

MacOS 11.6.2 - MBP 16" 2019 Intel - Kap 3.5.2

[2022-02-05 12:01] starryywonder commented on #1059
Having this issue too for intel mac. 3.5.2 seems to be extremely laggy. Downgraded to 3.4.2 and now it's working smoothly.

[2022-02-05 15:33] raadopt commented on #1063
Getting this error from time to time:
Unhandled Promise Rejection

How to stop it?

Version: 3.4.1 (3.4.1.1771) (newer version doesn't work)
on both i5 and i7 MacBook Pros
Monterey 12.2

<img width="546" alt="Screenshot 2022-02-05 at 5 29 48 PM" src="https://user-images.githubusercontent.com/56934567/152648189-a5ccf75a-6266-4bd2-865b-be5abf3d1d63.png">

[2022-02-05 17:23] sindresorhus opened #1089 "Migrate to `@electron/remote`"
It blocks us from upgrading Electron and we're left on an old Electron version...

https://github.com/electron/remote/blob/main/README.md#migrating-from-remote

[2022-02-05 18:49] sindresorhus commented on #1071
Can you try https://github.com/wulkano/Kap/releases/tag/v3.5.3 ?

[2022-02-06 06:34] frozenpandaman opened #1090 "Error when auto-updater runs"
**macOS version:** macOS 12.1
**Kap version:** 3.4.1 (3.4.1.1771) installed via Homebrew

This just appeared in a popup unexpectedly:
[code]

[2022-02-06 17:02] rakleed opened #1091 "Auto check for new versions"
**macOS version:** Monterey (12)
**Kap version:** 3.5.2

#### Steps to reproduce
1. Install one of the outdated versions of the app
2. Open the app

#### Current behavior
The app does not automatically check for new versions.

#### Expected behavior
The app automatically checks for new versions and offers to download and install it.

#### Workaround
Manually check if a new version has appeared on

[2022-02-06 20:14] karaggeorge commented on #1089
Yeah that was the biggest blocker from migrating the cropper to the new style like the rest of the windows. We use remote a lot, so it was taking a while switching it. I had an ongoing branch, I can try to find it and push it as a draft as a starting point

[2022-02-07 11:56] verpixelt commented on #1071
Thanks @sindresorhus! 🎉 I've tried it and it works. It's very sluggish on startup, ran into the beachball of death multiple times but it does the trick.

[2022-02-08 20:01] alimagedayad opened #1092 "Error"
**Sentry Issue:** [KAP-BQZ](https://sentry.io/organizations/wulkano-l0/issues/2998137097/)

**macOS version:**    Big Sur (11)
**Kap version:**      3.5.3

[code]

[2022-02-09 02:12] zoeyyyzou commented on #129
Pause recording is still not supported at present. Is there a support plan @skllcrn

[2022-02-09 02:13] SunnyQjm commented on #129
Pause recording is still not supported at present. Is there a support plan @skllcrn

[2022-02-09 13:06] timothyis commented on #1092
Duplicate of #1087

[2022-02-09 13:06] #1092 closed

[2022-02-09 13:07] timothyis commented on #129
Hi @SunnyQjm. Kap is an open-source project and this issue is labelled "Help Wanted". If you would like to contribute this feature, we would love to review the pull request. Thanks!

[2022-02-09 20:32] jordyvandomselaar opened #1093 "Filenames aren't safe for work"
![image](https://user-images.githubusercontent.com/12712484/153284999-f633a5ac-4dea-4b01-bc92-cbd37544914a.png)

Can't say I didn't laugh but come on man 😂️

[2022-02-09 20:39] skllcrn commented on #1093
Looks like you're using the `recording-name` plugin, you can open an issue on it's repository: https://github.com/karaggeorge/kap-recording-name

[2022-02-09 20:39] #1093 closed

[2022-02-10 08:35] rubeonline commented on #1088
Same!

MacOS 12.1 - MBP 14" M1 Pro - Kap 3.5.3

[2022-02-10 17:35] shiftkey commented on #1059
Just wanted to mention that the new [`3.5.3`](https://github.com/wulkano/Kap/releases/tag/v3.5.3) build seems to have resolved this for me on Intel Mac Big Sur

[2022-02-11 11:19] steveharman commented on #1088
When I launch Kap its icon appears in my menubar fairly instantly, but when I click on the icon I always get a spinning beachball and need to wait 5s+ for the UI to render.   It's been like that for ages, across multiple Kap versions and macOS increments.  Currently I'm on Intel, macOS Monterey 12.2.  Kap 3.5.3 (but this is reproducible back to at least 3.4.1 which I've been using up to the releas

[2022-02-11 11:48] timothyis commented on #1059
Thanks @shiftkey! Can anyone else confirm the latest has fixed the issue?

[2022-02-11 12:53] pederjohnsen commented on #1059
@timothyis `3.5.3` intel version seems to be working now, all though pretty slow at opening 🤔

After clicking the Kap icon in the status bar it takes nearly 10 seconds before the recording UI is shown 😬

[2022-02-11 21:38] starryywonder commented on #1059
Can confirm. Running 3.5.3 Intel version has fixed this. Although after pressing on the record button, it takes about 5 seconds til it actually records.

[2022-02-13 17:32] Tanp7 opened #1094 "Camera plugin does't work"
**macOS version:**    Monterey (12)
**Kap version:**      3.5.3

#### Steps to reproduce

#### Current behavior

#### Expected behavior

#### Workaround

#982
I follow the https://github.com/karaggeorge/kap-camera, and enable camera plugin in Kap then I have check my Security & Privacy preferences to ensure Kap is allowed access to your camera.

But it does't work, I can not see the camera window.

[2022-02-13 20:31] timothyis commented on #1094
Hi there, thanks for submitting an issue.

Since this problem is directly related to the kap-camera plugin, I ask that you submit an issue on the plugin's repository.

Thanks!

[2022-02-13 20:31] #1094 closed

[2022-02-14 17:28] zmk-punchbowl opened #1095 "`mac-screen-capture-permissions` causing Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BPC](https://sentry.io/organizations/wulkano-l0/issues/2991381748/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.3

[code]

[2022-02-15 12:45] tobbbe commented on #1088
Same issue with 3.5.3 (3.5.3.1804)

<img width="291" alt="image" src="https://user-images.githubusercontent.com/2511610/154064746-1d323172-fbe2-4b83-a761-341d23b8e843.png">

[2022-02-16 07:38] firasm commented on #1088
I'm also experiencing 3-5 second delay after clicking on Kap in the menubar to show the UI; I'm on a new M1 pro machine

<img width="679" alt="Screen Shot 2022-02-15 at 11 37 43 PM" src="https://user-images.githubusercontent.com/2507459/154217899-57fb424f-7d90-46f9-afd3-a75b6d8496cc.png">
.

[2022-02-16 14:48] dcooney commented on #1088
Same, Kap is essentially unusable for me on 2020 Intel Macbook.
Freezes screen for 10-15 seconds, shows loading beach ball and then UI appears.
![image](https://user-images.githubusercontent.com/428624/154289083-f63000ed-022e-4dea-847b-4327210797c5.png)

[2022-02-17 21:22] imjoshellis commented on #1088
3.5.3 made a difference for me. Still seems slow to launch, but recording functions work as expected again rather than crashing

[2022-02-18 17:09] digitalmaster commented on #1064
This one's pretty tough because it error's after recording. Meaning we loose what we just recorded :(

[2022-02-23 09:49] sindresorhus commented on #1064
https://github.com/wulkano/Kap/releases/tag/v3.5.4

[2022-02-25 07:16] blacklein opened #1097 "wish output .gif image with a transparent background by default so that the image can still fit in dark mode"
macOS version: Monterey
Kap version: 3.5.4

#### Steps to reproduce
finished window recording and export to `.gif`

#### Current behaviour
view .gif in dark mode of the web page, noticed background color outside the four round corners of the window is white

#### Expected behaviour
output .gif image with a transparent background by default so that the image can still fit in dark mode

#### Workaro

[2022-02-26 08:52] makhambettorezhan commented on #27
Been using your app and it is very simple. It would mean great deal to me to contribute to this project. I've seen some of the people already added some tests but I'd like to add some more. And for now I'm learning examples of AVA and Spectron. Hope I can add some tests soon.

[2022-02-28 18:55] QianwenChen opened #1098 "Kap is not working on mac Monterey 12.2.1"
**macOS version:** Monterey 12.2.1
**Kap version:** 3.5.4

#### Steps to reproduce
1. Updated Mac to 12.2.1
2. Open the original Kap on my laptop, system shows "You can't open the application 'Kap' becasue this application os not supported on this Mac"
3. Uninstalled an installed again, still have this issue

#### Current behaviour

#### Expected behaviour

#### Workaround

Screenshots:
<img width

[2022-02-28 20:41] timothyis commented on #1098
Hi @QianwenChen, could you tell me how you installed Kap and which version you installed? (Intel vs Apple Chip)

[2022-03-01 04:21] jjangga0214 opened #1099 "Information text cut off in export window"
**macOS version:**
[code]
**Kap version:** 3.5.4(3.5.4.1810)

#### Steps to reproduce

1. Record the entire screen
2. Export as mp4(H.265)
3. The UI appears. And some of the (the most) bottom text is hidden. However, I could not adjust the page size or scroll the page.
<img width="482" alt="스크린샷 2022-03-01 오후 1 17 17" src="https://user-images.githubusercontent.com/28584151/156104262-5e412c

[2022-03-02 17:49] jscho13 commented on #1098
I ran into this issue as well but installed `Apple Chip` instead of `Intel`. Installing `Intel` fixed this issue. I accidentally assumed it was apple chip since I'm using an apple computer (easy to mix up). @QianwenChen

[2022-03-02 17:55] timothyis commented on #1098
Thanks for confirming that @jscho13! I'll close this issue for now, in that case, since I think that's the issue for @QianwenChen also. If not, please let me know and we'll re-open!

[2022-03-02 17:55] #1098 closed

[2022-03-02 21:53] jscho13 commented on #1098
@timothyis Would you be open to a FAQ section for questions like this or https://github.com/wulkano/Kap/issues/1044? Can open a draft for you

[2022-03-03 11:29] timothyis commented on #1098
Yes, absolutely, the readme sounds good @jscho13, thank you!

[2022-03-03 11:47] thoaihuynh2509 opened #1100 "Error when yarn run dev"
I clone source code from main branch and yarn run dev.

It is not working. Can you help me?

![Screen Shot 2022-03-03 at 6 43 46 PM](https://user-images.githubusercontent.com/30824675/156558825-155b0879-ce2f-4b98-8da7-008767edd15f.png)

[2022-03-03 12:30] timothyis commented on #1100
Please read the [contributing guide](https://github.com/wulkano/Kap/blob/main/contributing.md#contributing).

The command should be `yarn start`.

[2022-03-03 12:30] #1100 closed

[2022-03-03 12:33] timothyis commented on #1097
A workaround for this could be to apply `border-radius`, with CSS, to your gif on your webpage.

[2022-03-03 20:30] Seque opened #1101 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BFW](https://sentry.io/organizations/wulkano-l0/issues/2938823417/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.2

[code]

[2022-03-04 09:30] brennomaeji commented on #482
**macOS version:**    Big Sur (11)
Kap version: Version 3.5.4 (3.5.4.1810)

I have a different kind of overlay on a part of the screen, with some transparency. I could not find how to remove it:

https://user-images.githubusercontent.com/80332150/156736735-d9b9fe9b-87a7-48ac-a28c-377002eb50c3.mp4

Is this issue related to this problem?

[2022-03-14 10:15] timothyis commented on #1101
Looks like we need to handle errors for updates better here. What do you think @karaggeorge @sindresorhus? Does the user need to be alerted at if the download fails or shall we just put it off and try it again later?

[2022-03-14 13:40] timothyis commented on #1095
Could this possibly be fixed by updating `mac-screen-capture-permissions` @karaggeorge? Asking since it's your package so you may know a bit more here.

[2022-03-21 10:48] Ldoppea commented on #1088
Hi,

I have the same problem in Big Sur Core i5:
![image](https://user-images.githubusercontent.com/1884255/159244937-972e0ac1-3363-4f20-b0f0-78564e4c7bf8.png)

I would be happy to help debugging the app, but I struggle at authorising the `screen capture access` after a `yarn start`. The System Preferences pane doesn't show the Electron app. If someone knows how to do this 😅

[2022-03-22 08:38] mketer1 commented on #1055
Hi! I'm fairly new to open source contribution but would love to give this issue a shot. If assigned this issue, would I be able to receive guidance/assistance?

[2022-03-22 09:49] raine commented on #1088
Getting constant beach ball with Monterey 12.2.1.

Render process getting blocked?

[2022-03-24 09:59] fers4t commented on #1063
Both of `latest` version and `3.4.2` doesn't working on my latest version MacBook m1 :/

[2022-03-25 15:13] lukasjuhas opened #1104 "Change save location via command line?"
Hey, thanks for the great app and all your work on this!

I wanted to ask whether there is a way how to change the save location for kaptures via the command line? I would like to add it to my workflow in my `dotfiles`.

[2022-03-26 14:49] ForeverOpp commented on #476
Wow, Kap has 15k stars now! Congratulations! But seems like the i18n feature will not be support forever. : (

[2022-04-01 10:11] conphi opened #1105 "Crash at startup (apple silicon) kap 3.5.4 macOS 12.2"
**macOS 12.2**
**kap 3.5.4**

Unhandled Promise Rejection
Error: Command failed: /Applications/Kap.app/Contents/Resources/app.asar.unpacked/node_modules/mac-screen-capture-permissions/screen-capture-permissions
spawnSync /Applications/Kap.app/Contents/Resources/app.asar.unpacked/node_modules/mac-screen-capture-permissions/screen-capture-permissions Unknown system error -86
    at Function.module.e

[2022-04-01 10:28] timothyis commented on #1105
Duplicate of #1095

[2022-04-01 10:28] #1105 closed

[2022-04-01 17:25] mmeyer724 commented on #1095
As a troubleshooting step I tried manually granting Kap screen recording access (System Prefs -> Security -> Screen Recording -> Click '+' and add Kap.app), but that did not help unfortunately

[2022-04-03 19:50] ashleywang6 opened #1106 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-BPF](https://sentry.io/organizations/wulkano-l0/issues/2991710194/)

**macOS version:**    Big Sur (11)
**Kap version:**      3.5.4

[code]

[2022-04-04 07:51] iwozzy opened #1107 ""A JavaScript error occurred in the main process" error and app doesn't launch"
I did look at recent issues and haven't seen this one yet.

It may have something to do with my specific system as I've tried installing older version going back to July last year and I get the same issue every time.

**macOS version: 12.2.1 (21D62) // Intel**
**Kap version: 3.5.4**

#### Steps to reproduce

Launch the app

#### Current behaviour

"A JavaScript error occurred in the main process"

[2022-04-04 08:54] timothyis commented on #1106
Duplicate of #1070

[2022-04-04 08:54] #1106 closed

[2022-04-04 08:59] timothyis commented on #1107
`shortcutToAccelerator`: https://github.com/wulkano/Kap/blame/eaf8193b76ac6cd908f5da62584f1346c537cc24/main/common/settings.ts#L138

@karaggeorge what does the comment refer to by "when migrated"? I assume this code shouldn't really run if there's something newer?

[2022-04-04 22:55] ashleywang6 commented on #1106
Sorry how could I resolve this issue? Currently, I'm unable to use the app.
Thanks!

[2022-04-06 21:15] #1099 closed

[2022-04-07 08:47] xxgn opened #1109 "I don't know how to record the sound of the computer itself. Do kap has this function?"
**macOS version:**
**Kap version:**

#### Steps to reproduce

#### Current behaviour

#### Expected behaviour

#### Workaround

[2022-04-07 08:56] timothyis commented on #1109
Duplicate of #145

[2022-04-07 08:56] #1109 closed

[2022-04-08 06:11] pradeepb28 opened #1110 "Any plans to build deeplinks?"
Do you have any plans to build deeplinks to the core actions of the app?

[2022-04-12 03:13] YoRolling opened #1111 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-AV1](https://sentry.io/organizations/wulkano-l0/issues/2679533611/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.4

[code]

Since I install it by `brew install kap`, it feel like freeze, every action in kap  so slow. I am not reboot mac right now .

[2022-04-12 08:27] timothyis commented on #1111
Hi @YoRolling. Do you have the Keycast plugin installed, by any chance?

[2022-04-12 08:34] YoRolling commented on #1111
@timothyis  yes,the  keycast plugin is installed. So ,that's the problem?should I uninstall the plugin ? Tks for your works.

[2022-04-12 08:54] timothyis commented on #1111
Thanks for confirming. Yes, I believe the keycast plugin is the issue here, from the error. Please try uninstalling and trying again. If that's the issue, please submit an issue to https://github.com/karaggeorge/kap-key-cast

[2022-04-12 12:20] skllcrn commented on #1110
We do for plugins https://github.com/wulkano/Kap/issues/697, what use case do you have in mind?

[2022-04-12 17:49] timothyis commented on #1104
Hey @lukasjuhas, thanks for submitting an issue. This doesn't exist at the moment, I think, and I don't believe we have the bandwidth to implement this ourselves, but if anyone is willing to submit a pull request to support this, we'd love to take a look.

[2022-04-13 04:55] leland359 opened #1113 "Okey Button for plugin options is half cut off"
Anytime I open up the options for a plugin the okey button (I think that's what it's called but I can't see it) is half cut off

**macOS version:**    Monterey (12.3.1)
**Kap version:**      3.5.4
<img width="480" alt="Screen Shot 2022-04-12 at 9 27 33 PM" src="https://user-images.githubusercontent.com/49353135/163102768-8a570f57-9cca-4085-a60f-c63b8cc889e2.png">

[2022-04-13 04:58] ckurtm commented on #1088
**macOS version:**    Monterey (12)
**Kap version:**      3.5.4 intel
Same issue

[2022-04-14 02:04] YoRolling commented on #1111
Many thanks 。 Without `keycast`plugin, it works, error was disappeard.

[2022-04-14 02:04] #1111 closed

[2022-04-14 11:50] SAMZONG opened #1114 "Kap EXPORT video is tooooooooo slow , is config not ready ?"
**macOS version:**

[code]

**Kap version:**

Version 3.4.2 (3.4.2.1774)

#### Steps to reproduce

<img width="482" alt="image" src="https://user-images.githubusercontent.com/13782141/163384736-77985279-d29e-46ca-943b-e080da72ab24.png">

#### Current behaviour

#### Expected behaviour

#### Workaround

[2022-04-14 17:32] timothyis commented on #1114
How long is the clip? Does this happen every time? Please provide more details on what you're experiencing instead of creating non-helpful issue titles.

[2022-04-14 17:34] timothyis commented on #1114
Please also update to the latest version of Kap, and if you haven't already, try installing the Apple chip version of Kap (https://getkap.co/api/download/arm64)

[2022-04-16 05:44] SAMZONG commented on #1114
it's just 03:35s , u can see the video info

<img width="314" alt="image" src="https://user-images.githubusercontent.com/13782141/163663175-d6d801e2-2190-4ad9-b9cb-ff0b52355e47.png">

export this video take more than 1 hour, kap version is 3.4.2 (3.4.2.1774)

at last, i will check the apple chip version.

Thanks

[2022-04-21 17:06] timrogers commented on #1070
This one is hitting me as soon as I open the app, before I see any menu bar item, preferences, etc. I have a 2022 16" M1 Max MacBook Pro.

[2022-04-26 08:37] helmisatria opened #1115 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-DQC](https://sentry.io/organizations/wulkano-l0/issues/3225554038/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.4

[code]

[2022-04-29 02:05] #1110 closed

[2022-04-29 10:57] ejerskov commented on #1114
I have the same issues on my M1 Macbook - with the latest M1 Kap version.

A 3 second recording takes 15 seconds to convert to a GIF - much longer than other tools I have been using.

Also, the UI is really slow and hangs 2-3 seconds behind every action.

[2022-04-29 11:01] ejerskov commented on #1088
M1 Macbook on Monterey 12
Kap version: M1 version 3.5.4.1810
Same issue.

[2022-04-29 14:10] jaoueis opened #1116 "Unable to turn off auto update"
**macOS version: `12.2.1`**
**Kap version: `3.5.4`**

#### Steps to reproduce
Download and install the previous version from GitHub releases. The app will auto-update to the latest version after restarting the machine.

#### Current behaviour
Auto-update after restarting the machine.

#### Expected behaviour
A switch in preferences to turn off auto-off.

#### Workaround
Currently no workaround.

#

[2022-04-29 19:46] christoph-kluge commented on #1064
I've installed 3.4.5 (M1) on Monterey (12.3) and Kap crashed during recording. The error-report sent me directly here.

[2022-04-29 19:55] christoph-kluge opened #1117 "Command was killed with SIGKILL"
[code]

**macOS version:** 12.3
**Kap version:** Version 3.5.4 (3.5.4.1810)

#### Steps to reproduce

Actually it creashes randomly all the time. I'm recording a website issue where I need to click multiple times because I'm recording a misbehaving drag and drop feature within a javascript library.

#### Current behaviour

I've installed Kap 3.5.4 and it keeps during recording and after recording.

[2022-04-30 19:35] devnoname120 commented on #145
Soundflow isn't available on Apple silicon. Is there an alternative?
I couldn't get it to work with Blackhole 2ch.

[2022-05-01 03:50] 0-Chan commented on #1095
I have the same problem here.
Adding kap.app to security didn't help either. Any progress?

(macOS 12.3.1, M1)

[2022-05-02 08:12] timothyis commented on #1064
Hi @christoph-kluge. 3.4.5 is an old version, could you try updating?

[2022-05-02 08:30] christoph-kluge commented on #1064
@timothyis sorry. I had a number-typo in my message. It's 3.5.4.

<img width="299" alt="Screenshot 2022-05-02 at 10 29 22" src="https://user-images.githubusercontent.com/1446269/166206449-bb326c72-7090-4ade-9eac-cec8c2330cb0.png">

[2022-05-03 10:40] leafac commented on #145
@devnoname120 I use BlackHole on a Mac with the M1 processor. I can assist you in getting it working if you provide some more information. What you tried, what went wrong, what error messages you saw, and that sort of thing.

[2022-05-03 11:57] devnoname120 commented on #145
@leafac I can confirm that I've followed https://github.com/ExistentialAudio/BlackHole/wiki/Multi-Output-Device and https://github.com/ExistentialAudio/BlackHole/wiki/Aggregate-Device — it works now! My virtual devices were not properly configured.

[2022-05-07 08:12] xc1427 commented on #1088
Same issue.
![image](https://user-images.githubusercontent.com/5611770/167245510-a7171f5e-0054-4626-82dc-1c2fa7f7d49b.png)

[2022-05-11 21:47] carlosbaraza commented on #1064
This issue is still happening after recording

[2022-05-12 06:31] jlingertat commented on #1070
same here.
Is these a fix for it?

[2022-05-16 19:09] bcastillo32 commented on #1113
Hi! can i grab this issue?? :)

[2022-05-16 21:52] fers4t commented on #1063
Any update? 🙁

[2022-05-17 07:24] svengreb commented on #1063
This has been resolved since some months now with [version 3.5.4][1] which works totally fine on Apple Silicon (my system is a MacBook Pro M1 16-inch 2021 with Generation 1 chip).

[1]: https://github.com/wulkano/Kap/releases/tag/v3.5.4

[2022-05-17 07:36] verpixelt commented on #1063
@fers4t yes it works again tho still with huge initial lags. I doubt that is related.

[2022-05-21 03:19] kerryj89 commented on #1088
I'm on an ultrawide monitor and it takes about 5 to 10s before I see the UI to record on my 2015 MBP.

[2022-05-22 09:05] Iftekhar-Hossen opened #1119 "High Temperature"
I'm using apple silicon. After the screen record when I convert the screen record pc temperature gets hotter and hotter. Normally recording time temperature is **35-45deg** but the conversion time goes to **99deg**.

[2022-05-22 16:28] djpowers commented on #1070
I'm experiencing this issue as well, also seeing it on an Apple M1 MacBook Pro. This device does _not_ have Rosetta 2 installed. It is working on a different M1 machine that is using Rosetta, so I wonder if that may have something to do with it.

[2022-05-25 08:37] timothyis commented on #1113
Hi @bcastillo32, apologies for the late reply, I was on holiday.

Please feel free to submit a PR for this.

[2022-05-25 16:15] bcastillo32 commented on #1113
Hey! No worries! Looks like someone already submitted a fix for this? I see
it there in the issue thread. Any other issues you suggest for someone
super new like me?

For context, I’m primarily self taught..based in NY at the moment and
trying to get some practical experience that will help me land a job. Also
will want to keep contributing to open source projects too, so yeah any
insight would be

[2022-05-27 11:14] Bolza commented on #1095
Same issue here
(macOS 12.4, M1)

[2022-05-28 11:09] arihid commented on #1059
This bug still present in 3.5.4 Intel version when trying to record windowed region. Fullscreen record work just fine. There are +-5s delay before the record. I don't know if this is a feature or a bug. But if this is a feature, adding an actual timer would make sense imo.

[2022-05-30 09:18] jaro-io commented on #1095
for me a simple reinstall fixed the problem. :man_shrugging:

[2022-06-02 15:42] 0-Chan commented on #1095
Wow... reinstall really fixes the problem. Thanks!

[2022-06-02 16:30] nyjr10025 commented on #1095
Confirmed on MacOS, 12.3.1, M1 that a reinstall fixes permissions issue mentioned above

[2022-06-02 16:43] djpowers commented on #1095
I'm still seeing this on macOS 12.4 on an M1 computer. I tried a full reinstall, and also manually adding the screen recording permissions for Kap, but no luck. This machine currently does not have Rosetta installed, which could possibly be a factor (another machine with the same specs that **does** have Roesetta installed is _not_ having this problem).

[2022-06-04 21:44] djpowers commented on #1095
Digging into this a little more, the  `Unknown system error -86` messaging makes me fairly confident this is due to some upstream dependency not being compatible with M1 machines. I suspect installing Rosetta would resolve this (ideally Rosetta would not be required, or at least a more graceful failure would be in place). I've seen this error on other applications though that required Rosetta in o

[2022-06-08 06:25] sergeichestakov opened #1120 "Kap not registering screen recording permissions after they're granted"
Hey there! Love the app but am unfortunately running into an issue that is preventing me from continuing to use it 😕 I recently uninstalled and re-installed Kap as I was running into an error that was causing the app to keep crashing (I believe they were the unhandled promise rejection errors seen here: https://github.com/wulkano/Kap/issues/1070).

In any case, now that I've reinstalled it I get p

[2022-06-08 08:19] zlygithub-98 commented on #1120
嘿，老弟，我遇到了和你一模一样的问题

[2022-06-08 17:33] heyheyhello opened #1121 "Code signature becomes invalid after a few months"
The OS thinks Kap is malware after a few months (since Nov 2021) Is it possible the code signature would become invalid due to a self update? I saw other issues about "could be malicious software" but I did the "Open Anyway" dance back in Nov, so I thought that would register the code signature properly.

<img width="1000" alt="image" src="https://user-images.githubusercontent.com/44614862/1726799

[2022-06-08 22:08] benmarte commented on #1120
Can confirm this is also happening on M1 based chips :-/

[2022-06-09 07:46] abstractalgo opened #1122 "Unhandled Promise Rejection"
<img width="556" alt="image" src="https://user-images.githubusercontent.com/1355455/172792907-de7012a1-0ace-446c-9a68-78165500482f.png">

[code]

**macOS version:**

<img width="207" alt="image" src="https://user-images.githubusercontent.com/1355455/172793043-ecbb30b1-d287-4f17-b096-703ef03007d7.png">

**Kap version:**

<img width="250" alt="image" src="https://user-images.githubusercontent.com/13

[2022-06-09 22:03] pedros007 commented on #1095
I ran into this after upgrading from Big Sur to Monterey.  I was eventually able to get things working after trying the following a few times:
[code]
When the System Preferences `Privacy` dialogue came up, I  pressed `-` to remove Kap. I then clicked `+` to add `/Applications/Kap.app`. Quit Kap & re-open. I tried variations of this a few times and it didn't work... so your mileage may vary!

Also,

[2022-06-13 16:28] irinaef opened #1123 "Is Kap not compatible with macOS 12.4? Cannot make it work"
**macOS version: 12.4**
**Kap version: the most recent downloaded **

#### Steps to reproduce

#### shows that it's not compatible with the current OS version

#### Expected behaviour

#### Workaround

[2022-06-13 16:38] edavidaja opened #1124 "Code Signature Invalid"
[code]

[2022-06-15 06:42] nicmar opened #1125 "Kap is extremely slow to show capture selection (10 seconds)"
**macOS version:** 10.12.1
**Kap version:** Version 3.5.4 (3.5.4.1810)

#### Steps to reproduce
Pressing Kap button in the menubar

#### Current behaviour
Takes 8-10 seconds before i can select an area to record. Also right click "About Kap" doesn't give any information or feedback.

#### Expected behaviour
In the earlier versions, this was extrememly fast, like less than 1 second, but it has been

[2022-06-16 20:59] malandles commented on #1125
Same behavior on macOS Monterey 12.4 with Kap version 3.5.4 (3.5.4.1810).

[2022-06-17 20:58] sveggiani commented on #1125
Noticing this for a time now. It have made it almost unusable for me :/

[2022-06-21 19:14] nimbusgo commented on #1123
I also recently upgraded to macos 12.4 and kap does not work at all. The icon shows up in the tool bar, if I click it causes the pinwheel to spin, screen flickers briefly, but nothing else happens. I can force quit the application, and restart it, but same behvaior.

[2022-06-21 23:21] gustavohenke commented on #1124
https://github.com/wulkano/Kap/releases/tag/v3.5.0?

[2022-06-22 13:12] Obolrus commented on #1120
I have the same problem(

[2022-06-24 12:58] jnpwebdeveloper commented on #1120
I managed to get this to work. Follow these steps:

1. Quit the Kap process using Activity Monitor (Search for Activity Monitor in Spotlight, open it and search for Kap, then once selected click on quit process)
2. Go to System Preferences > Security Privacy > Screen Recording and completely remove the existing Kap app using the minus simbol.
3. Re-install the Kap app
4. It should prompt you to gi

[2022-06-24 13:14] Obolrus commented on #1120
Cool, thnx man 😎
It works for me too.

[2022-06-25 01:55] sergeichestakov commented on #1120
amazing - thank you @jnpwebdeveloper that worked for me!

[2022-06-28 13:19] carlosperate commented on #1125
Having the same issue in an Intel Macbook Pro with macOS Monterey 12.1.

I've tried going back to each version from the releases pages until one of them worked well. In this case I had to go back to v3.4.1.

v3.4.2 didn't work (likely the signing issues indicated in the release notes) and v3.5.0 already shows this problem. Looking at the diff, is fairly small, so maybe we can try manually revertin

[2022-06-29 09:53] steelbrain opened #1126 "Not compatible with Ventura Beta"
**macOS version:** 13.0 Beta / 22A5286j
**Kap version:** Kap v3.5.4

#### Steps to reproduce

- Download and move Kap to Applicatons folder
- Open Kap

#### Current behaviour

- Uncaught Exception on Boot

#### Expected behaviour

- It works

#### Workaround

- None that I am aware of

#### Footnotes

Here's the screenshot from the issue

<img src="https://user-images.githubusercontent.com/4278113

[2022-07-02 00:54] rlogank commented on #1122
Can confirm, have been experiencing the same issue for awhile now. I just can't use the app. I miss this program :(

macOS Monterey
Version 12.4
MacBook Air (M1, 2020)

[2022-07-02 00:55] rlogank commented on #1126
Same error in Monterey 12.4, Macbook Air (M1, 2020)

[2022-07-02 20:55] wkoutre commented on #1125
Same issues here, macOS 12.4 w/ multiple monitors.

Downgrading to 3.4.1 as @carlosperate suggested has worked for me.

[2022-07-03 10:10] Harsh-Shedge commented on #1113
Hi, Can I work on this issue?

[2022-07-03 14:06] HatimDa commented on #1126
Same for me , on MacOS Ventura, I get the same error

[2022-07-04 22:19] marcdstudio opened #1127 "Can't Pass Permissions Step when opening Kap"
**macOS version:**
Monterey 12.4

**Kap version:**
3.5.4

#### Steps to reproduce
Opening the app after installing asks me to give the app screen recording permissions. Once I've allowed permissions and restarted the app, it continues to ask me to allow permissions regardless of whether the permissions set to allow. I have tried to restarting the app, restarting my computer, re-downloading the app

[2022-07-05 17:52] ajwhite commented on #1125
Can confirm `3.4.1` resolved the issue for me as well.

[2022-07-06 13:50] ajwhite commented on #1125
@carlosperate this contribution stands out to me in that diff, https://github.com/wulkano/Kap/pull/1051 -- upgrading electron & supporting different build target architectures

@codetheweb @sindresorhus can you see that impacting this behavior?

[2022-07-06 13:51] ajwhite commented on #1125
Cross referencing similar thread https://github.com/wulkano/Kap/issues/1088

[2022-07-06 13:51] ajwhite commented on #1088
Hi folks, we narrowed down some improvements in a duplicate thread https://github.com/wulkano/Kap/issues/1125#issuecomment-1168714981

It was discovered that `v3.4.1` restores the performance

[2022-07-06 17:29] codetheweb commented on #1125
Hmm, something must have changed in the new Electron version.

Might be related: https://github.com/desktop/desktop/issues/12978

[2022-07-06 17:52] seahindeniz commented on #145
Here's YouTube video of how to install BlackHole

https://www.youtube.com/watch?v=F67Jj5QCct8

[2022-07-07 09:10] markolovric commented on #1127
Same thing for me. Unfortunately, I cant use the app anymore because of this bug

[2022-07-07 10:36] timothyis commented on #1127
Hi both, can you try this? https://github.com/wulkano/Kap/issues/1120#issuecomment-1165549731

[2022-07-07 10:47] markolovric commented on #1127
Yep, works for me. Thx

[2022-07-07 10:49] timothyis commented on #1120
Hi all, I apologise for this issue. I'm going to reopen the thread in order for people to find the solution above and also to track this bug within the app itself so we can work on fixing it.

Thanks all.

[2022-07-07 10:50] #1127 closed

[2022-07-07 11:38] benmarte commented on #1120
This didn't work for me until I did this and then a full restart now kap is working again so if you are still running into this issue make sure to restart your computer.

[2022-07-09 11:06] literalpie commented on #1125
Any idea if going to a newer version of electron would fix this? The latest is v19.0, and Kap is on 12.x. Going to new electron would also move this from Node 14.x to 16.x.

[2022-07-09 16:25] codetheweb commented on #1125
Possibly, but upgrading versions would require quite a few changes.

[2022-07-10 11:12] xy1999729 commented on #1126
Same for me, on macOS Ventura beta 3.

[2022-07-10 15:54] skllcrn commented on #1123
Closing as this seems to be related to #1125, if you have additional information please open a new issue @irinaef.

[2022-07-10 15:54] #1123 closed

[2022-07-17 17:31] nicmar commented on #1125
Yeah 3.4.1 seems to have worked. But how do I prevent it from autoupdating? I don't see any option like that, but I assume it did cause I never updated it manually.

[2022-07-17 21:25] FarzamMohammadi commented on #1074
Hey @kj800x, may I take a stab at this?

[2022-07-18 02:53] kj800x commented on #1074
Feel free, it'd be super nice to have this bug fixed!

[2022-07-18 17:33] uhlhosting commented on #1126
+1

[2022-07-18 18:26] nicmar commented on #1125
I keep getting this error, which I guess is a good sign that it can't update :P

[2022-07-20 16:26] codeblooded commented on #1122
Same here. I was a heavy user of Kap and loved it, but I no longer can use it anymore due to this error everytime it is opened.

[2022-07-26 14:31] philostler commented on #1122
Possible workaround that worked for me, enable permissions for Kap in `Security & Privacy` -> `Screen Recording`.

I was about to get it working this way after initially getting this error.

[2022-07-26 14:47] abstractalgo commented on #1122
I remember trying tweaking security permissions before, but didn't help.

FYI, I've recently tried redownloading and reinstalling Kap, and now it works for me (the same version - `3.5.4`).

[2022-07-28 06:00] luokunman opened #1128 "convert error: Error: spawn /Users/study/yarn_kap/node_modules/ffmpeg-static/ffmpeg EACCES"
**macOS version: 12.3.1**
**Kap version:3.5.4**

#### Current behaviour
click "convert" button

show error dialog
[code]

#### Expected behaviour
Convert MP4 successfully

terminal input sudo /Users/study/kap/node_modules/ffmpeg-static/ffmpeg  response
[code]

[2022-07-28 08:43] luokunman commented on #1128
there‘s something worng with the ffmpeg-static dependencies.
For details, click [here](https://github.com/eugeneware/ffmpeg-static/issues/109)

[2022-07-28 08:43] #1128 closed

[2022-07-28 10:26] SjoerdvGestel opened #1130 "Unhandled Error"
**Sentry Issue:** [KAP-ASE](https://sentry.io/organizations/wulkano-l0/issues/2657905893/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.4

[code]

Not sure what changed, but since recent it started to become hard use kap. Clicking the icon now rarely shows up the UI, and this error just popped up. But if it works its still great :D hope it can be solved and working better again a

[2022-08-01 00:30] FarzamMohammadi commented on #1074
I'm working with windows and to avoid the "The platform "win32" is incompatible with this module." error I run "yarn install --ignore-engines --ignore-platform" and although it installs everything I still face this error when I run the app:
![image](https://user-images.githubusercontent.com/72108716/182052044-d67bc107-9adc-4576-9b5b-302ced912640.png)

Any ideas on how to go about resolving this?

[2022-08-02 03:45] lzilioli-prism opened #1131 "Feature request: Automatic Captions"
macOS version:
[code]
Kap version:
Step to reproduce:  n/a
Current behavior: App works great!
Expected behavior:    How you expected Kap to behave.
Workaround:           A workaround for the issue if you've found on. (this will help others experiencing the same issue!)
-->

**macOS version:**

[code]

**Kap version:**

`Version 3.5.4 (3.5.4.1810)`

#### Steps to reproduce

n/a

#### Current behavi

[2022-08-04 08:13] nicmar commented on #1125
To author: Please have auto updates as an option as well, to prevent future issues like this. Thanks :)

[2022-08-04 10:50] yaustar commented on #1068
But the suggestion here is for stability. As an end user, I should be able to choose whether I want to auto update or not. At the moment, at any point I restart my Mac, Kap could change.

In my case, GIF quality got worse (https://github.com/wulkano/Kap/issues/1043) and it still has this issue.

Now I have to re-install Kap 3.3.2 every time I reboot because of the autoupdate.

[2022-08-05 16:22] jordyvandomselaar commented on #1126
@ianberdin looking at the commit history, I don't see any changes related to Ventura. The commit that moved the library to ESM, didn't change any parsing logic so if the last commonjs doesn't work, the ESM version likely won't either.

If ESM is not usable with Kap, the possibility of forking the macos-version library should be considered.

[2022-08-05 17:14] jordyvandomselaar commented on #1126
I've created a patched release here that works on Ventura on a M1 pro mac: https://github.com/jordyvandomselaar/Kap/releases/tag/v0.0.0-unofficial

**This is not official and has zero guarantees whatsoever. Please switch back to the main Kap project as soon as possible**

[2022-08-09 00:52] #1113 closed

[2022-08-09 00:56] sindresorhus commented on #888
This is no longer relevant since we use the nil operator: https://github.com/wulkano/Kap/blob/d6ef34a038d1fe4ec0578e359c02eedeff3d5a6f/main/utils/encoding.ts#L14

[2022-08-09 00:56] #888 closed

[2022-08-09 23:31] rarestg commented on #1042
Got the same issue in the new version -- 3.5.4 for M1 (arm64).

![image](https://user-images.githubusercontent.com/9878259/183779120-4404998e-9b84-4336-aa50-09a6fc346992.png)

[2022-08-11 12:55] #1126 closed

[2022-08-11 15:42] sindresorhus commented on #1126
https://github.com/wulkano/Kap/releases/tag/v3.5.5

[2022-08-11 15:43] sindresorhus commented on #1095
I had to revert #1129 as it causes problem when built for production. The binary used in the capture permission thing could not be found and I don't have time to look into it. If someone wants to work on this, make sure you test the change by running `npm run dist` and try launching the app in the `dist` folder.

[2022-08-13 18:39] ibehnam opened #1133 "[ BUG ] Delay before recording"
On MacBook Pro with M1 Pro chip, Kap starts recording 3-4 seconds after I press record. These plugins are enabled:

<img width="172" alt="image" src="https://user-images.githubusercontent.com/58621210/184506666-0425582f-65e4-4f84-9efd-d3bfeb9ada3b.png">

[2022-08-15 11:45] xstast24 commented on #1095
Hi, just confirming that this issue persists. MacBook Pro 2021 (Apple arm CPU, Mojave OS).
Kap doesn't work at all. I tried to reinstall Kap / reallow permissions / reboot mac around 10 times in various orders (as suggested above), but it didn't help. I love Kap and am looking forward to using it again, I hope somebody knows how to fix this. Thanks in advance, fingers crossed 😉 🤞

[2022-08-16 07:33] thethomasz commented on #1095
Woops, didn't notice the prebuilts for that package weren't uploaded. I tried to see if it was possible to fix the github action that creates the prebuilts, but the `prebuild` library fails to upload the binaries to the release, and I'm not entirely sure why. Also, I don't think github has ARM Mac runners yet (can track it here https://github.com/github/roadmap/issues/528), so we'd also need to up

[2022-08-16 08:30] xstast24 commented on #1095
Hi, on Macbook Pro 2021 (arm CPU, MacOS Mojave) with Kap 3.5.5:
- if Rosetta (x86_64 emulator) is NOT installed, Kap raises the exception and doesn't work at all
- if Rosetta is installed, Kap works
--> Kap is not working on the pure ARM, but it works with the Rosetta emulator "workaround".

PS: To install Rosetta, run `softwareupdate --install-rosetta --agree-to-license`

[2022-08-17 03:48] luokunman commented on #145
soundflower cannot support M1.

[2022-08-17 15:00] Vignesh-Au commented on #1125
Same here. 10 seconds after clicking kap icon.

[2022-08-22 04:07] cluzier commented on #1074
I see this is still open, going to give this a go 👍

[2022-08-24 21:17] usmanonazim commented on #1055
Hi, is this issue still open?

[2022-08-24 23:52] skllcrn commented on #1055
This is still open! We have fairly limited bandwidth, but I'd be very happy to help review a test build if you end up contributing a PR 😄

[2022-08-26 15:19] drj613 opened #1135 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-PVN](https://sentry.io/organizations/wulkano-l0/issues/3532546063/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.4

[code]

[2022-08-26 15:19] #1135 closed

[2022-08-28 14:13] Kooshaba commented on #1133
I also see this on M1 Pro.

[2022-09-06 12:44] jordyvandomselaar commented on #1126
Ah dang it, should've opened a PR 😭

[2022-09-07 17:49] melnychuka opened #1136 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-D7](https://sentry.io/organizations/wulkano-l0/issues/499222859/)

**macOS version:**    Big Sur (11)
**Kap version:**      3.5.4

[code]

[2022-09-08 01:15] GamaTellez commented on #477
I’m having a similar issue with AVCaptureScreenInput and capturesCursor set to false. It works as expected if pointer size is set to normal but If i change it to anything else in Accessibility > Display > Pointer size) then the cursor shows in my screen captured even with capturesCursor still set to false. Anybody seen anything similar?

[2022-09-12 22:34] ibehnam commented on #1133
Is there any news on this? I can still see it in the latest version.

[2022-09-20 13:43] maximesimeon opened #1137 "Hide completely the mousse cursor"
**macOS version:**    Monterey (12)
**Kap version:**      3.5.5

#### Steps to reproduce
1. Disable "Show Cursor"
2. Record a Figma prototype with touch device
3. Tap on some hotspot
4. Stop the record

#### Current behavior
We can see the mousse cursor when we click on the Figma prototype

#### Expected behavior
We disable "Show cursor" in Kap, so we expected don't see it :)

#### Workaround
🤷‍♂️

[2022-09-27 15:11] cipri-tom commented on #1133
It also happens on the Intel macbook

[2022-09-27 15:28] cipri-tom commented on #943
@bailarin2020  where is it ? :)

[2022-09-28 16:44] GlobalGayhub opened #1138 "Release Kap app to the macOS App Store plan?"
Are there any plans to support the release of Kap to the App Store? This installation should be more convenient.
we hope~

[2022-09-28 19:05] timothyis commented on #1138
No plans currently. I don't know if it's possible with the Electron app.

[2022-09-28 19:05] #1138 closed

[2022-09-29 13:42] xinatcg commented on #1125
same 3.5.5, hard to use

[2022-10-01 17:31] TheFutureIsVoluntary opened #1139 "Update notification pops up while screen recording"
**macOS version: 12.5**
**Kap version: 3.5.4 for M1**

#### Steps to reproduce
Start a recording, wait and happen to be lucky enough to have an update notification pop up.

#### Current behaviour
Update notifications pop up while recording.

#### Expected behaviour
Update notifications are suppressed while recording, to show at some other time.

#### Workaround
None. Stop your recording, update ap

[2022-10-06 08:52] davidnormo opened #1141 "Kap must live in the Applications folder to be able to run correctly"
**macOS version:**
[code]
**Kap version:** 3.5.5

#### Steps to reproduce
1. Install Kap to a directory but not ~/Applications
2. Open Kap

#### Current behaviour
<img width="271" alt="Screenshot 2022-10-06 at 09 29 13" src="https://user-images.githubusercontent.com/881849/194266125-55878f9a-7e36-4230-9058-824bcb85cc44.png">

#### Expected behaviour
Kap should work as normal being started from any

[2022-10-06 16:35] newforms opened #1142 "Unhandled Promise Rejection"
**Sentry Issue:** [KAP-S85](https://sentry.io/organizations/wulkano-l0/issues/3650457242/)

**macOS version:**    Monterey (12)
**Kap version:**      3.5.5

[code]

[2022-10-10 20:33] sirpooya opened #1143 "Feature request: Option to toggle on/off the prompt for discard"
Every time I save a recording and I want to close the recording window, I have to go through the prompt asking me if I want to discard the recording.
I would be more convenient if there was a toggle to turn this prompt on or off.

[2022-10-10 20:35] sirpooya opened #1144 "Feature request: Start the recording instantly"
Every time that click the record button it takes 3 seconds for Kap's UI overlay to go off and for recording to start.
It would be amazing if the recording could start the second I click on the record button.

[2022-10-13 11:24] pkoziol commented on #1125
Same here after upgrading from Catalina to Monterey (12.5.1). Probably also upgraded Kap currently on 3.5.5.1825

Kap 3.4.1 is ineed much faster.

[2022-10-13 18:27] jesshart commented on #1125
For anyone looking to download older versions, I went ahead and did this:
1. Go to https://github.com/wulkano/Kap/releases
2. Find the release you want
3. Click `Assets` and find your corresponding download file.
4. Download the file.
5. Run the download file.

All of the downloads `<3.5.5` had a pop-up warning on my Mac. Proceed at your own risk by clicking the app while holding <kbd>control</kbd

[2022-10-13 18:38] eisenbruch commented on #145
So once we have BlackHole setup is there a way to route it through to Kap?

Seems like this still needs to be added.

5 year old issue.

Is someone working on adding this?

[2022-10-14 03:04] lzilioli opened #1146 "Captures ending prematurely"
**macOS version:** Ventura Public Beta

[code]

**Kap version:** 3.5.5

#### Steps to reproduce

- Begin a screen recording
- Wait a while

#### Current behaviour

- Recording ends before intended

#### Expected behaviour

- Recording should continue until I click the kap icon in the menu bar to stop the capture

#### Workaround

I have not found a workaround. This issue exists in MacOS Ventura Pu

[2022-10-14 10:45] timothyis commented on #145
Kap is open-source, you are more than welcome to take a look at this issue @eisenbruch!

[2022-10-18 05:57] dwenjia opened #1147 "Kap 3.5.5 can't open on macOS 10.15.7"
macOS version:        macOS 10.15.7
Kap version:          3.5.5
Step to reproduce:    Download Kap-3.5.5-arm64-mac.zip released on 11 Aug, open the file
Current behavior:     I'm getting the system error message "You can’t use this version of the application “Kap” with this version of macOS. You have macOS 10.15.7. The application requires macOS 11.0 or later."
Expected behavior:    Kap should wor

[2022-10-18 06:49] timothyis commented on #1147
Hi there, I believe you may have misunderstood the error message. Your mac version is behind the required version. Kap does not support macOS 10.x.

[2022-10-18 06:49] #1147 closed

[2022-10-18 08:10] dwenjia commented on #1147
Ok, thanks for clarifying. I misunderstood due to this on the website - "macOS 10.12 or later required", so that should be updated.

<img width="1230" alt="Screenshot 2022-10-18 at 4 09 05 PM" src="https://user-images.githubusercontent.com/22995462/196373854-8c5d05dd-b335-453f-8c16-4caae09501f9.png">

[2022-10-18 08:21] timothyis commented on #1147
Oh, thank you for pointing that out, that is indeed and issue. I'll make sure that is fixed. Thank you!

[2022-10-18 08:27] dwenjia commented on #1147
No worries, thank you too :)

[2022-10-18 08:36] timothyis commented on #1147
Issue created here: https://github.com/wulkano/getkap.co/issues/49

[2022-10-18 20:28] chrissnyder2337 commented on #1133
Is issue #1125 related?

[2022-10-20 10:45] thearnica commented on #145
Found an easy way to record what I need:
- install [Background Music](https://github.com/kyleneideck/BackgroundMusic#recording-system-audio)
- set it as a microphone to Kap
- ✅ you are recording "internal sound"
----
To mix with microphone:
- create new aggregate device
- set add you mic and BackgroundMusic
- ✅ use it as microphone for Kap
----
Mac 13.0 will add support for audioCapture for Screen

[2022-10-20 14:35] eisenbruch commented on #145
Can confirm this works. Thanks @thearnica !

[2022-10-20 14:35] timothyis commented on #145
Thank you for sharing this @thearnica!

[2022-10-26 16:49] pythoninthegrass commented on #1120
Did this, then:
[code]

Had to manually re-add Kap to `Screen Recording`, but after doing that, restarting the _app_, it worked! Didn't have to reboot.

[2022-10-27 10:48] #129 closed

[2022-10-27 10:52] #1074 closed

[2022-10-31 14:47] psobolewskiPhD commented on #1061
Bumping this, still the case for Kap 3.6.0

[2022-10-31 20:34] ilqvya opened #1149 "Distribute Kap via AppStore"
Any plans for this ? For example UTM open-source virtualization software for MacOS has its optional version in appstore for 10$ with permanent licensing. Complete free version is welcomed either )

[2022-10-31 20:59] ilqvya commented on #145
omg, Mac 13 is released, implement it natively plz

[2022-10-31 21:05] effolkronium commented on #145
sorry, can you explain please how to do it with the Mac13 settings

[2022-10-31 21:33] ilqvya commented on #925
I have similar issue, when I'm listening music with spotify with air pods and starting recording with enabled microphone recording, the music quality produced by airpods is 3 times worst then it was...

[2022-11-01 07:36] timothyis commented on #1149
Thanks for the issue. I answered here:
https://github.com/wulkano/Kap/issues/1138#issuecomment-1261348851

[2022-11-01 07:36] #1149 closed, assigned to nobody

[2022-11-01 07:39] timothyis commented on #925
Hi @effolkronium, I believe the issue you're referring to is a known issue with macOS because Bluetooth devices force macOS to switch audio systems and that produces a lower sound quality. I don't believe that this is related to higher gain on the microphone however.

[2022-11-01 12:23] ilqvya commented on #1138
@timothyis

You can find guide of publishing Electron app to appstore here:
https://www.electronjs.org/docs/latest/tutorial/mac-app-store-submission-guide

[2022-11-01 12:49] timothyis commented on #1138
I think there's some more rules on what you can submit, however, and I'm not sure if Kap would be eligible. Thanks for the resource, though!

We can take another look in the future, but there are a lot of areas that need focus first.

[2022-11-01 19:36] ilqvya commented on #145
Hey, I just found an easer way to record screen with all sounds

-  install [Background Music](https://github.com/kyleneideck/BackgroundMusic#recording-system-audio)
-  Press **Command + Shift + 5**
-  Select "Background music" microphone in options

[2022-11-01 19:41] timothyis commented on #145
There's no need to speak like that and be negative @effolkronium.

I appreciate that you edited your post, but your post is not helpful to this issue.

[2022-11-01 22:52] andreasotto commented on #1064
Happening here, too :-(

Reproducible, 100% of the tests

M1 Macstudio.

This has worked before with macOS 12, but in the meantime 13 is up to date. Whether it has something to do with that, I can't say. Kap is freshly installed, first call after installation. Version 3.6.0 (3.6.0.1846) I hope the bug can be fixed quickly. If I can support in any way, please just let me know.

[2022-11-02 01:48] eisenbruch commented on #145
Imagine thinking screen recording with Apple's built-in tool is superior to Kap

[2022-11-02 06:10] andreasotto opened #1150 "Crashing after recording"
Still crashing after recording (Please reopen #1064)
Version 3.6.0 (3.6.0.1846)

[2022-11-02 08:09] timothyis commented on #1150
Thanks for pinging. I'll re-open the original.

[2022-11-02 08:09] #1150 closed, assigned to nobody

[2022-11-02 08:09] timothyis commented on #1064
Thanks for reporting, all.

[2022-11-02 22:49] okyr-ux commented on #1125
**macOS version:**    Monterey 12.6.1 (21G217)
**Kap version:**      3.6.0
MacBook Pro (Intel) + external monitor.

I've just updated from 2.2.0 to 3.6.0 and at first I didn't even realise what's going on: after clicking the menubar icon nothing happens, then there's a rainbow ball, then the whole screen becomes dark (I already get that it's a feature), the laptop starts to take off, according to

[2022-11-03 18:32] sveggiani commented on #1125
macOS version: Monterey 12.6.1 (21G217)
Kap version: 3.6.0
MacBook Pro (Apple M1 Pro) + external monitor.

For me, v3.6.0 is not slow anymore. Everything looks good again 🙌

[2022-11-03 20:14] wkoutre commented on #1125
![image](https://user-images.githubusercontent.com/13321210/199824686-7c28ffd2-66ab-4585-8536-4119b2404487.png)

Kap 3.6.0 is _better_, but still takes 7-10 seconds from initializing a session to seeing the GUI appear

[2022-11-03 20:16] timothyis commented on #1125
Trying to remedy this by updating Electron, by the way. It's extremely difficult, unfortunately.

[2022-11-04 12:21] CamiloGarciaLaRotta commented on #489
If anyone hits this issue you may just need to scroll 😮‍💨 I didn't realize the preference popup was a scrollable one and the audio settings are below the first options

[2022-11-07 13:48] hacker-DOM opened #1151 "Feature Request: Wait for 3 seconds before beginning"
Loom has this option and it is very nice :-) I couldn't find this functionality in the preferences or plugins

[2022-11-08 00:12] RDiMag commented on #1055
Hi @skllcrn, it looks like this hasn't been worked on yet. I'd like to contribute but wanted clarification.

Is the desired action that pressing the hotkey opens the prompt? Or is it confirming deletion once the prompt window is open?

Thanks!

[2022-11-08 08:05] timothyis commented on #1055
I think (correct me if I'm wrong, someone who's used Adobe/GIMP) the desired action is:
1. CMD+D opens a prompt to discard the recording from the editor
2. Prompt confirms that deletion is wanted and confirming deletes the recording.

Sorry if that's not the question!

[2022-11-09 00:49] RDiMag commented on #1055
That was my question! Thank you.

I'll give it a try.

[2022-11-10 12:47] dinbtechit commented on #1151
Currently, it does take 3 secs before beginning. Maybe Kap could add customizable start times with a count down timer.

https://github.com/wulkano/Kap/issues/1144

[2022-11-10 12:50] dinbtechit commented on #1144
Yeah, it's a bit annoying it takes 3 seconds to start after clicking the button. Is this a limitation of electron?

[2022-11-11 08:37] gregoralbrecht commented on #1116
There another reason for avoiding auto updates: On my work machine, I need to "request privileges" every time I update something. So now I need to either dismiss Kap or request privileges and enter my password all the time, which is unfortunate.

[2022-11-11 09:06] timothyis commented on #1116
That's really valuable information @gregoralbrecht, thank you. I seems like this feature is wanted by quite a few people. If anyone wants to take a look at implementing it, we'd be really grateful.

Currently, I only have bandwidth to try and update Kap's dependencies (sounds a lot easier than it is) so I won't have time to work on this feature for a while, myself.

[2022-11-11 09:09] timothyis commented on #1063
Hi all, just wondering if anyone is still seeing this error? I know about the performance issues, but wondering about the error initially noted in this issue.

[2022-11-11 09:33] timothyis commented on #1141
@sindresorhus do you remember the reason for this? It would be good to document the reason.

[2022-11-11 09:35] timothyis commented on #1068
More information on why this feature should exist was added to #1116. We will track the feature there.

[2022-11-11 09:35] timothyis commented on #1142
Duplicate of #1115

[2022-11-11 09:35] #1142 closed

[2022-11-11 09:42] timothyis commented on #1131
Great idea! I'm pretty sure there's libraries for transcribing audio. Would be cool to include that in a plugin!

[2022-11-11 09:46] timothyis commented on #1133
I think this is a duplicate of #1125 indeed. Closing in favour of that issue.

[2022-11-11 09:46] #1133 closed

[2022-11-11 09:47] timothyis commented on #1139
You can use a plugin for this behaviour: https://github.com/karaggeorge/kap-do-not-disturb#usage

[2022-11-11 09:47] #1139 closed

[2022-11-11 09:53] timothyis commented on #1130
I'm sorry about the experience @SjoerdvGestel. We're trying to resolve a lot of issue at the moment that just seem to occur from dependency updates and old modules on new systems.

I'm going to close this issue, however, to track it in #1060 since it's a duplicate.

[2022-11-11 09:53] #1130 closed

[2022-11-11 09:53] timothyis commented on #957
#1060 is a duplicate, however, has more activity and will track there.

[2022-11-11 09:53] #957 closed

[2022-11-11 09:54] timothyis commented on #1146
Is this issue still present in the latest Ventura update (not beta?)

[2022-11-11 09:56] timothyis commented on #1151
Duplicate of #1144 indeed.

[2022-11-11 09:56] #1151 closed, assigned to nobody

[2022-11-11 09:57] timothyis commented on #1122
Apologies all, this error is affecting many and we're looking into it. This issue is being tracked in #1095 and I will close this as a duplicated.

[2022-11-11 09:57] #1122 closed

[2022-11-11 11:52] sindresorhus commented on #1141
I prevented some issues because of [App Translocation](https://lapcatsoftware.com/articles/app-translocation.html).

[2022-11-11 12:15] timothyis commented on #1141
In this case, I'll close the issue. Also because this is the first request we've received. Thanks for submitting though @davidnormo.

[2022-11-11 12:15] #1141 closed, assigned to nobody

[2022-11-11 12:18] BuBliC commented on #1146
I face this issue using Bartender 4, screen capture ends when Bartender autohide (by default 30s) Kap from menu bar. Making Kap always visible in menu bar fix the issue for me.

[2022-11-11 13:04] alechko commented on #1063
@timothyis except for being a bit slow on my intel mbp had no issues and didn't seen the error since upgrading to 3.6.0

[2022-11-11 13:12] timothyis commented on #1071
Closing because no additional reports and the reports already in this issue are duplicates of #1063

[2022-11-11 13:12] #1071 closed

[2022-11-21 19:28] dalisoft opened #1152 "No Hardware encoding for H264 and HEVC on Apple Silicon"
**macOS version:** 12.6.1 (21G217) (Apple Silicon)
**Kap version:** 3.6.0 (3.6.0.1846

#### Steps to reproduce

1. Download, start, capture
2. Try to export and see **Activity monitor**

#### Current behaviour

https://user-images.githubusercontent.com/3511344/203142009-650d24c6-3d36-4289-9b72-9e59ea4d3f51.mp4

Even https://github.com/wulkano/Kap/issues/970#issuecomment-970097099 does not help

##

[2022-11-22 16:28] ilqvya commented on #145
OBS program is able to capture screen audio without any crutches starting from macos 13

[2022-11-22 22:07] timothyis commented on #145
Thanks for your input @effolkronium, but I'd like to reiterate that this thread is not a topic to share the benefits of other apps. This is counter-productive. I'm quite happy if you prefer using alternative software, but please stay on topic in this thread or don't take part.

[2022-11-23 05:38] ibehnam commented on #1133
But this is different than #1125 (which is about delay in selection not recording).

[2022-11-24 13:26] wojtiku commented on #1125
Some for me, it has been extremely slow in the past months. Trying to downgrade as others suggest.

[2022-11-30 05:05] sethw8 opened #1154 "Audio is not recording on MacOS Ventura"
**macOS version:**    Ventura (13)
**Kap version:**      3.5.5

#### Steps to reproduce

#### Current behavior

#### Expected behavior

#### Workaround

[2022-11-30 08:05] timothyis commented on #1154
Hi @sethw8. Thanks for submitting an issue.

I'd appreciate if you could fill in the issue template as this is there for us to understand your problem further.  Which audio are you expecting to hear? Are you getting no audio whatsoever? Have you granted the correct permissions? Is it disabled in your settings?

Kap also has a newer version than 3.5.5, so please try updating and see if this fixes y

[2022-11-30 08:05] #1154 closed, assigned to nobody

[2022-11-30 14:18] danmizziharris opened #1155 "Recording misaligned when using Stage Manager"
**macOS version:** macOS 13.0.1 . BuildVersion: 22A400 .
**Kap version:** Version 3.6.0 (3.6.0.1846) . All plugins turned off.

#### Steps to reproduce

When using macOS 13.0.1:

1. Go to **System Settings > Desktop and Dock > Stage Manager** and turn it on.
1. Select a portion of the screen using the crop or window select tool.
1. Record a portion of the screen.
1. View the recording.

#### Curre